* {
   font-family: 'PT Sans Narrow', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
}

@font-face {
    font-family: veronica;
    src: url(../fonts/Kalam-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    --main-text-color: #F7F7F7; 
    --secondary-text-color: #A4A4A4;
    --main-reverse-color: #37474f
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.navbar {
    background-color: var(--main-text-color);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar > .navbar-list {
    list-style-type: none;
    margin: 0;
    float: right;
    font-size: 0;
}

.navbar > .navbar-list > .navbar-item {
    display: inline-block;
    font-size: 16px;
}

.navbar > .navbar-list > .navbar-item a {
    padding: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    display: inline-block;
    transition: all 0.5s linear;
}

.navbar > .navbar-list > .navbar-item.active a {
    color: var(--main-text-color);
    background-color: var(--secondary-text-color);
}

.navbar > .navbar-list > .navbar-item a:hover {
    color: var(--main-text-color);
    background-color: var(--secondary-text-color);
}

.header > .title-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/working.gif);.gif);
    height: 100vh;
    transition: background-size 0.5s;
}

.header > .title-img:hover {
    background-size: 115% 115%;
}


.title {
    position: absolute;
    left: 0;
    top: 10%;
    font-size: 20px;
    width: 100%;
    text-align: right;
    color: white;
    padding-right: 22%;
    z-index: 1;
    animation: titleAnimation 2s forwards;
    animation-delay: 0.8s;
    visibility: hidden;

}


.title-cite {
   position: absolute;
    right: 0;
    top: 20%;
    width: 80%;
    text-align: center;
    font-size: 28px;
    color: white;
    font-family: veronica;
    opacity: 0;
    animation: subtitleAnimation 1s forwards;
    animation-delay: 1s;
}

.section-container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-reverse-bg {
     background-color:var(--main-reverse-color);
    color: var(--main-text-color);
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.section-reverse {
    background-color: rgba(0, 0, 0, 0.92);
    color: var(--main-text-color);
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.about-me > .veronica-img {
    float: left;
    max-width: 50%;
    
}
.about-me > .veronica-img  img{
     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
   max-width: 70%;
    border-radius: 50%;
}

.about-me > .veronica-info {
    float: left;
    max-width: 50%;
}

.sobre-mi > .veronica-video {
    float: left;
    max-width: 50%;
}

.

.sobre-mi > .veronica-info {
    float: right;
    max-width: 50%;
}

.estudios-skills{

   
}
.estudios-skills >header{

  
    margin-bottom: 9%;
}

.flip {
    height: 305px;
    position: relative;
}

.flip-img {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 1s;
}

.back {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

.flip:hover .front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}

.flip:hover .back {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
}

.transport-img {
    max-width: 100%;
    height: 250px;
    border-radius: 50%;
}

.footer {
    background-color: rgba(0, 0, 0, 0.92);
    color: var(--main-text-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#googleMap {
    height: 400px;
}

.form {
    padding: 0 20px;
}

.form .form-row {
    padding: 10px;
}

input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=button], input[type=submit], button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 0px;
}

button[disabled] {
    opacity: 0.5;
}

table {
    width: 90%;
    border-collapse: collapse;
}

thead > tr {
   
}

th {
    height: 50px;
    text-align: left;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tbody > tr:hover {
    background-color: #dedddd;
    color: red;
}

.skills-container {
    padding-top: 5px;
    padding-bottom: 5px;
}
.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}
.skill-type{
display: inline;
float: left;
 padding-left: 20px; /* Add some right padding */
line-height: 40px; 

}

/************************************/

section-container .exp-sectionHeading {
	font-size: 16px;
	font-weight: 700;
}
section-container .exp-sectionHeading .experiencia-icon {
	background: #263238;
	padding: 8px;
	border-radius: 50%;
	margin-right: 10px;
	font-size: 20px;
	color: #fff;
}
section-container .exp-sectionContent > .inner {
	margin-left: 55px;
}

.exp-articleTitle{
    color: #90a4ae;
	margin-bottom: 10px;
	font-weight: 400;

}
.exp-articleMeta span {
	display: inline-block;
	margin-right: 10px;
}
.youtube{
    color: red;
}


.exp-articleMetaa .nino-icon {
	font-size: 17px;
	margin-right: 5px;
	position: relative;
	top: 2px;}

/****************   skills*******************/



.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

@keyframes titleAnimation {
    0% {
        font-size: 40px;
    }
    50% {
        font-size: 60px;
    }
    100% {
        font-size: 50px;
        visibility: visible;
    }
}

@keyframes subtitleAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}